body {
  background-color: #e8e8e8;
  font-family: "Courier";
}

/*#employee-data {
  margin: auto;
  background-color: #99ff99;

}*/

#input {
  margin: auto;
  width: 70%;
  border-width: thin;

}

/*#employee-info {
  color: #000000;
}*/

table {
  border-collapse: collapse;
  margin: auto;
  width: 66%;
}

td {
  padding: 5px;
  text-align: center;
  background-color: #FFFFFF;
}

th {
  padding: 0 15px;
  background-color: #93c1ae;
}

tr:first-of-type{

}

.delete {
  width: 20px;
  height: 20px;
}

h1 {
  text-align: left;
  color: white;
  margin: auto;
  padding-left: 15px;
  padding-top: 15px;
  font-family: Arial;
}
h2 {


}

h3 {
  text-align: center;
}

button {
  display: block;
  /*float: right;*/
}

#submit {
width: 100px;
/*border-width: thin;
border-color: #669999;*/
background-color: #FFFFFF;
border: thin outset;
margin: auto;

}

#newemployee {
  border: 5px outset;
  text-align: center;
  width: 66%;
  margin: 15px auto;
  padding: 5px 15px 15px 15px;;
  background-color: #e0e1e2;
}

#info {

}

input {
  float: right;
  width: 50%;
}

label {
  float: left;
}

#top {
  width: 66%;
  margin: 15px auto;
  border: 5px inset;
  background-color: #4bc190;
}

#total {
  width: 33%;
  border: 5px inset;
  margin: 15px auto;
  background-color: white;
}

#header {
  width: 100%;
  height: 120px;
  background-color: #397059;
}

#left {
  float: left;
  height: 100%;
  width: 80px;
  background-color: white;
}

ul {
  list-style-type: none;
  margin: auto;
  /*padding: 0;*/
  text-align: center;
  min-width: 800px;
  width: 66%;
  /*width: 800px;*/
  /*padding: 0;*/
}

li {
  /*float: left;*/
  display: inline-block;
  width: 100px;
  background-color: white;
  padding: 15px;
  margin: 15px;
  border: 2px outset;
}
li a {
  display: block;
  text-decoration: none;
}


li:hover {
  background-color: #33c689;

}

p {
  text-align: center;
}
